<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
<h1>Add new book:</h1>
<form action = '/addbook' method = post>
  <input type = "text" name = title placeholder="Droga Krolów">
  <input type = "number" name = publicationYear placeholder="2012">
  <input type = "text" name = publisher placeholder="Mag">
  <input type = "text" name = authorFirstName placeholder="Brandon">
  <input type = "text" name = authorLastName placeholder="Sanderson">
  <input type = "text" name = ISBN placeholder="978-1473213692">
    <button type = "submit">Dodaj książkę</button>
</form>
</body>
</html>