<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <link rel = "stylesheet" href = "/styles.css">
</head>
<body>
<fieldset>
  <legend>Books list</legend>
<table>
  <thead>
  <tr>
    <th>Book title</th>
    <th>Book author</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each = "book : ${books}" th:object = "${book}" class = "booklist">
  <td th:utext = "*{title}"></td>
  <td th:text = "|*{authorFirstName} *{authorLastName}|"></td>
  </tr>
  </tbody>
</table>
</fieldset>
</body>
</html>