<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'LibraryV - book list'">LibraryV</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../static/styles/styles.css">
</head>
<body class="booklist_body">
<header th:replace="~{fragments :: common-header}">
</header>
<fieldset>
    <legend>Books list</legend>
    <table>
        <thead>
        <tr>
            <th>Book title</th>
            <th>Book author</th>
            <th>Book page</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="all-but-first">
            <tr th:each="book, status : ${books}"
                th:object="${book}"
                th:class="|*{borrower == null ? 'available' : 'notavailable'}|"
                th:classappend="|${status.odd ? 'odd-row' : 'even-row'}|"
                class="booklist">
                <td th:utext="*{title}">Title</td>
                <td th:text="|*{authorFirstName} *{authorLastName}|">Author</td>
                <td><a th:href="@{'books/' + *{id}}" href="#">LINK</a></td>
            <tr th:remove="all" class="booklist">
                <td>Title</td>
                <td>Author</td>
                <td><a href="#">LINK</a></td>
            </tr>
        </div>
        </tbody>
    </table>
</fieldset>
</body>
</html>