<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LibraryV</title>
    <link rel = "stylesheet" th:href = "@{/styles.css}" href="../static/styles.css">
</head>
<header th:insert="~{fragments :: common-header}">
    <h1>Hello LibraryV</h1>
    <h2 th:text="|It's your ${@visitCounter.visitCount} visit here|"> </h2>
</header>
<body>
<a th:href = "@{/books}">
    <img class="library_img" th:src = "@{/library1.jpg}"
         src="../static/library1.jpg" alt = "library photo">
</a>
<a th:href = "@{/addbook}">
    <button type = "submit">Add new book</button>
</a>
</body>
</html>