<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel = "stylesheet" th:href = "@{/styles/styles.css}" href="../static/styles/styles.css">
</head>
<body class="login_body">
<!--<header th:replace="~{fragments :: common-header}">-->
</header>
    <form class="login-form" method="post">
        <label><p>Username:</p></label>
        <input name="user" placeholder="username" class="form-item">
        <label><p>Password:</p></label>
        <input name="pass" type="password" placeholder="password" class="form-item">
        <a style="display: block" th:href="@{/register}">Register</a>
        <button type="submit">Login</button>
    </form>
</body>
</html>